# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual Environment
.venv/
env/
venv/

# Archives / Legacy
Backup/

# IDEs
.vscode/
.idea/
*.swp

# Data
data/*
!data/.gitkeep

# Build Artifacts
build/
dist/
exports/
*.spec

# Tooling
tools/
